include /mixins/meta

doctype html

html
  head
    block meta
      +meta()

    block stylesheets
      link(rel='stylesheet', href=assetPath('/assets/main.css'))
  body
    header
      include /partials/header.pug

    main
      block content

    block pswp
      include /partials/pswp.pug

    block javascripts
      script(src=assetPath('/assets/main.js'))