extends /layouts/main.pug

block content

  .section
    .about
      .picture-about
      img(src="/images/me-1.jpg")
    
      .description
        p Живу в Санкт-Петербурге. Училась изобразительному искусству и архитектуре. <br>На данный момент работаю с графикой и микс-медиа, делаю эксперименты с видео-артом. Интересуюсь саунд-артом, инсталляцией. Учусь в Институте Современного Искусства Бакштейна. 
        <br>
        p  
        a(href="https://dribbble.com/heridache" target="_blank") dribble
        <br>
        <br>

        a(href="https://readymag.com/u81393552/915615/" target="_blank") дизайн
        <br>
        <br>
        a(href="https://intuition.team/?filter=daria-kolesnikova" target="_blank") я в дизайн-бюро «Интуиция»
        
        <br><br>
        p Клиенты: Додо Пицца, The Blueprint, Southbridge, Giveback, f-Genetics, OSDY, Дело Модульбанка, Яндекс.Практикум, Другое Дело.
        <br>
        p Открыта к колаборациям, пишите: <br> kolesnikovamail1@gmail.com 



