extends /layouts/main.pug

block content
 
  .section
    .description
      .title
        a(href="https://mdwrld.slaylines.io/" target="_blank") MDWRLD
      //- p 2020-2021
      p An endless moodboard. <br>
      p About: 
        a(href="https://en.intuition.team/park/mdwrld" target="_blank") Intuition.team

  .main-blocks
    .main-block.wide
      video(id="video_background" preload="auto" controls playsinline muted poster="images/design/mdwrld/cover.jpg")
        source(src="images/design/mdwrld/md.mp4" type='video/mp4')
      .caption

  .section.project-gallery
    .phsw.gallery.compact
      figure
        a.preview(href="/images/design/mdwrld/sk-1.jpg", data-size='1280x679')
          img(src="/images/design/mdwrld/sk-1.jpg")
        figcaption Sketches for the project
      figure
        a.preview(href="/images/design/mdwrld/sk-2.jpg", data-size='1280x679')
          img(src="/images/design/mdwrld/sk-2.jpg")
        figcaption Sketches for the project
      figure
        a.preview(href="/images/design/mdwrld/sk-3.jpg", data-size='1826x1098')
          img(src="/images/design/mdwrld/sk-3.jpg")
        figcaption My first sketch
      figure
        a.preview(href="/images/design/mdwrld/11.jpg", data-size='1800x1122')
          img(src="/images/design/mdwrld/11.jpg")
        figcaption Thats all started with this picture.

      figure
        a.preview(href="/images/design/mdwrld/16.jpg", data-size='1383x1491')
          img(src="/images/design/mdwrld/16.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/18.jpg", data-size='1102x1494')
          img(src="/images/design/mdwrld/18.jpg")
        figcaption

      figure
        a.preview(href="/images/design/mdwrld/1.jpg", data-size='701x975')
          img(src="/images/design/mdwrld/1.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/3.jpg", data-size='1018x700')
          img(src="/images/design/mdwrld/3.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/4.jpg", data-size='616x787')
          img(src="/images/design/mdwrld/4.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/5.jpg", data-size='676x826')
          img(src="/images/design/mdwrld/5.jpg")
        figcaption

      figure
        a.preview(href="/images/design/mdwrld/6.jpg", data-size='530x756')
          img(src="/images/design/mdwrld/6.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/7.jpg", data-size='814x1160')
          img(src="/images/design/mdwrld/7.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/8.jpg", data-size='734x980')
          img(src="/images/design/mdwrld/8.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/10.jpg", data-size='1800x1162')
          img(src="/images/design/mdwrld/10.jpg")
        figcaption

      figure
        a.preview(href="/images/design/mdwrld/MD.jpg", data-size='1450x1156')
          img(src="/images/design/mdwrld/MD.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/12.jpg", data-size='1450x1156')
          img(src="/images/design/mdwrld/12.jpg")
        figcaption

  .section
    .description
      p Artist: Daria Kolesnikova <br>Developer: Natalia Stepanova <br>Designer: Anastasia Vetushko
      p Made in Intuition Park/2019



