extends /layouts/main.pug

block content
  .section
    .description
      p Стиль иллюстраций и цветовая палитра
      a(href="https://southbridge.io/" target="_blank") Southbridge
      //- p 2020-2021

  .section.project-gallery
    .phsw.gallery.wide
      figure
        a.preview(href="/images/design/sb/sb-8.png", data-size='1800x1049')
          img(src="/images/design/sb/sb-8.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-10.png", data-size='1800x2479')
          img(src="/images/design/sb/sb-10.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-11.png", data-size='1915x1028')
          img(src="/images/design/sb/sb-11.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-3.png", data-size='1800x1433')
          img(src="/images/design/sb/sb-3.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-1.png", data-size='1800x1200')
          img(src="/images/design/sb/sb-1.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-2-2.png", data-size='1800x1315')
          img(src="/images/design/sb/sb-2-2.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-9.png", data-size='1800x2255')
          img(src="/images/design/sb/sb-9.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-5-1.png", data-size='1800x2044')
          img(src="/images/design/sb/sb-5-1.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-13.png", data-size='1800x1966')
          img(src="/images/design/sb/sb-13.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-14.png", data-size='1800x2094')
          img(src="/images/design/sb/sb-14.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-16.png", data-size='1800x1800')
          img(src="/images/design/sb/sb-16.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-7.png", data-size='1800x2016')
          img(src="/images/design/sb/sb-7.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-4.png", data-size='1800x2479')
          img(src="/images/design/sb/sb-4.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-6.png", data-size='1800x1490')
          img(src="/images/design/sb/sb-6.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-12.png", data-size='1800x2592')
          img(src="/images/design/sb/sb-12.png")
        figcaption


