.section.project-gallery
  .phsw.gallery.giant
    figure
      a.preview(href="/images/CG/1bw-2.jpg", data-size='2650x1936')
        img(src="/images/CG/1bw-2.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/lion-color2.jpg", data-size='1726x1442')
        img(src="/images/CG/lion-color2.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/howkins.jpg", data-size='2400x1331')
        img(src="/images/CG/howkins.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/skull.jpg", data-size='3000x2000')
        img(src="/images/CG/skull.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/values-5.jpg", data-size='1500x2033')
        img(src="/images/CG/values-5.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/man.png", data-size='1600x2110')
        img(src="/images/CG/man.png")
      figcaption
    figure
      a.preview(href="/images/CG/lion-head2.jpg", data-size='1402x1682')
        img(src="/images/CG/lion-head2.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/lion-head4.jpg", data-size='1365x1682')
        img(src="/images/CG/lion-head4.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/bw.jpg", data-size='1800x2275')
        img(src="/images/CG/bw.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/olsen.jpg", data-size='1423x1840')
        img(src="/images/CG/olsen.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/girl.jpg", data-size='1389x2229')
        img(src="/images/CG/girl.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/girl-2.jpg", data-size='1272x1823')
        img(src="/images/CG/girl-2.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/girl-3.jpg", data-size='1882x2490')
        img(src="/images/CG/girl-3.jpg")
      figcaption
    figure
      a.preview(href="/images/CG/turtle.jpg", data-size='4000x2540')
        img(src="/images/CG/turtle.jpg")
      figcaption
  