.section.project-gallery
  .phsw.gallery.wide
    figure
      a.preview(href="/images/collage/1.jpg", data-size='1138x1554')
        img(src="/images/collage/1.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/collage/2.jpg", data-size='1044x1330')
        img(src="/images/collage/2.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/collage/3.jpg", data-size='1158x1386')
        img(src="/images/collage/3.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/collage/horses-3.jpg", data-size='1800x1753')
        img(src="/images/collage/horses-3.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/collage/horses-2.jpg", data-size='1800x2347')
        img(src="/images/collage/horses-2.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/collage/horses-1.jpg", data-size='1761x1582')
        img(src="/images/collage/horses-1.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/collage/man.jpg", data-size='1800x2197')
        img(src="/images/collage/man.jpg")
      figcaption «Air/Solid» Experiment with ink collage and media.
    figure
      a.preview(href="/images/collage/nas-2.jpg", data-size='1748x2409')
        img(src="/images/collage/nas-2.jpg")
      figcaption «Knife'n'Blur» Collaboration with photographer Nikita Bezmaternych
    figure
      a.preview(href="/images/collage/bird.jpg", data-size='1044x1361')
        img(src="/images/collage/bird.jpg")
      figcaption «Air/Solid» Experiment with ink collage and media.
    figure
      a.preview(href="/images/collage/arms.gif", data-size='424x634')
        img(src="/images/collage/arms.gif")
      figcaption «UndeRed» Collaboration with Elena Goy photographer
    figure
      a.preview(href="/images/collage/mary.jpg", data-size='1800x2628')
        img(src="/images/collage/mary.jpg")
      figcaption «Splash» Collaboration with Tani Li photographer (for elegantmag.com)
    figure
      a.preview(href="/images/collage/mary-2.jpg", data-size='1800x2540')
        img(src="/images/collage/mary-2.jpg")
      figcaption «Splash» Collaboration with Tani Li photographer (for elegantmag.com)
    figure
      a.preview(href="/images/collage/anna.png", data-size='1800x2562')
        img(src="/images/collage/anna.png")
      figcaption «Undercover» with Anna Goroch actress
    figure
      a.preview(href="/images/collage/dark.jpg", data-size='1800x2705')
        img(src="/images/collage/dark.jpg")
      figcaption «Rough» sketch for poster in collaboration with Elena Goy photographer
    figure
      a.preview(href="/images/collage/kate.png", data-size='1000x1208')
        img(src="/images/collage/kate.png")
      figcaption «Teardrop» with Katy Kiri. 2015-16

    //- figure
      a.preview(href="/images/collage/gasette.jpg", data-size='1748x2409')
        img(src="/images/collage/gasette.jpg")
      figcaption
    //- figure
    //-   a.preview(href="/images/collage/girl.jpg", data-size='1748x2409')
    //-     img(src="/images/collage/girl.jpg")
    //-   figcaption
    //- figure
    //-   a.preview(href="/images/collage/black.jpg", data-size='1748x2409')
    //-     img(src="/images/collage/black.jpg")
    //-   figcaption
    //- figure
    //-   a.preview(href="/images/collage/girl-2.jpg", data-size='1748x2409')
    //-     img(src="/images/collage/girl-2.jpg")
    //-   figcaption
