.content
  .main-blocks
    .main-block.double
      a(href="https://intuition.team/dodo-illustrations" target="_blank")
        img(src="/images/design/dodo.png")
        p Illustrations & design for Dodo Pizza. Made in Intuition buro.
    .main-block.double
      a(href="https://intuition.team/delo-portraits" target="_blank")
        img(src="/images/design/portrait.png")
        p Portraits for Delo Modulbank. Made in Intuition buro.

    .main-block.high
      a(href="https://bias.slaylines.io/" target="_blank")
        img(src="/images/all/park-2.gif")
        p Illustrations & design for Bias. Made in Intuition Park.
    .main-block.double
      a(href="/sb-content")
        img(src="/images/design/sb/sb-dark.gif")
        p Illustrations for Southbridge
    .main-block.overhang
      a(href="https://intuition.team/delo-illustrations" target="_blank")
        img(src="/images/design/Mb-2.png")
        p Illustrations & design for Delo Modulbank. Made in Intuition buro.


    .main-block.double
      a(href="/mdwrld")
        img(src="/images/design/MD.jpg")
        p Artist of MDWRLD. Made in Intuition Park.

        //- p One of the most important projects for me. It's allowed me to find so many compositions beautiful and unexpected. Sensations and meanings combinations. To reveal and understand the relationships of different visual elements. And finally through the analysis to enrich my base of possibilities and ideas. I can no longer imagine the world without the MDWRLD.




.section.project-gallery
  p
    .phsw.gallery.wide

      figure
        a.preview(href="/images/design/tobacco.png", data-size='2335x1490')
          img(src="/images/design/tobacco.png")
        figcaption Logo experiments
      figure
        a.preview(href="/images/design/move.gif", data-size='1920x1080')
          img(src="/images/design/move.gif")
        figcaption Name and logo for a (not)real estate agency.
      figure
        a.preview(href="/images/design/tat.gif", data-size='1920x1080')
          img(src="/images/design/tat.gif")
        figcaption Name and logo for cafe. Somwhere in Neverland.