.section.project-gallery
  .phsw.gallery.wide
    figure
      a.preview(href="/images/painting/part-1.jpg", data-size='1586x2112')
        img(src="/images/painting/part-1.jpg")
      figcaption Series «Apart» Oil. A4. 2020
    figure
      a.preview(href="/images/painting/part-2.jpg", data-size='1592x2166')
        img(src="/images/painting/part-2.jpg")
      figcaption Series «Apart» Oil. A4. 2020
    figure
      a.preview(href="/images/painting/part-3.jpg", data-size='1286x1798')
        img(src="/images/painting/part-3.jpg")
      figcaption Series «Apart» Oil. A4. 2020

    //- figure
      a.preview(href="/images/all/MD.jpg", data-size='1800x2628')
        img(src="/images/all/MD.jpg")
      figcaption
    //- figure
    //-   a.preview(href="/images/graphic/4.jpg", data-size='800x995')
    //-     img(src="/images/graphic/4.jpg")
    //-   figcaption
    //- figure
    //-   a.preview(href="/images/graphic/3.jpg", data-size='800x1130')
    //-     img(src="/images/graphic/3.jpg")
    //-   figcaption
    //- figure
    //-   a.preview(href="/images/graphic/7.jpg", data-size='663x833')
    //-     img(src="/images/graphic/7.jpg")
    //-   figcaption

    figure
      a.preview(href="/images/collage/mary.jpg", data-size='1800x2628')
        img(src="/images/collage/mary.jpg")
      figcaption «Splash» Collaboration with Tani Li photographer (for elegantmag.com)
    figure
      a.preview(href="/images/collage/nas-2.jpg", data-size='1748x2409')
        img(src="/images/collage/nas-2.jpg")
      figcaption Collaboration with Nikita Bezmaternych photographer
    figure
      a.preview(href="/images/collage/mary-2.jpg", data-size='1800x2540')
        img(src="/images/collage/mary-2.jpg")
      figcaption «Splash» Collaboration with Tani Li photographer (for elegantmag.com)

    figure
      a.preview(href="/images/collage/arms.gif", data-size='424x634')
        img(src="/images/collage/arms.gif")
      figcaption «UndeRed» Collaboration with Elena Goy photographer
    figure
      a.preview(href="/images/collage/kate.png", data-size='1000x1208')
        img(src="/images/collage/kate.png")
      figcaption «Teardrop» with Katy Kiri. 2015-16
    figure
      a.preview(href="/images/painting/lady.jpg", data-size='768x960')
        img(src="/images/painting/lady.jpg")
      figcaption «Woman» 30x50. Acrylic. 2017

    figure
      a.preview(href="/images/collage/man.jpg", data-size='1512x1914')
        img(src="/images/collage/man.jpg")
      figcaption «Air/Solid» Experiment with ink collage and media.
    figure
      a.preview(href="/images/collage/dark.jpg", data-size='1800x2705')
        img(src="/images/collage/dark.jpg")
      figcaption «Rough» sketch for poster in collaboration with Elena Goy photographer
    figure
      a.preview(href="/images/collage/bird.jpg", data-size='1044x1361')
        img(src="/images/collage/bird.jpg")
      figcaption «Air/Solid» Experiment with ink collage and media.

    figure
      a.preview(href="/images/all/park-2.gif", data-size='1500x2558')
        img(src="/images/all/park-2.gif")
      figcaption Study for Bias 2020
    figure
      a.preview(href="/images/painting/boy-3.jpg", data-size='1800x2478')
        img(src="/images/painting/boy-3.jpg")
      figcaption Acrylic. A3. 2018
    figure
      a.preview(href="/images/collage/anna.png", data-size='1800x2562')
        img(src="/images/collage/anna.png")
      figcaption «Undercover» with Anna Goroch actress

    figure
      a.preview(href="/images/painting/blur.jpg", data-size='1322x1753')
        img(src="/images/painting/blur.jpg")
      figcaption Acrylic. A5. 2020
    figure
      a.preview(href="/images/all/bias.png", data-size='1526x1847')
        img(src="/images/all/bias.png")
      figcaption Study for Bias 2020
    figure
      a.preview(href="/images/graphic/3.jpg", data-size='800x1130')
        img(src="/images/graphic/3.jpg")
      figcaption
    figure
      a.preview(href="/images/graphic/4.jpg", data-size='800x995')
        img(src="/images/graphic/4.jpg")
      figcaption «Lights» with Svetlana Smirnova photographer.
    figure
      a.preview(href="/images/graphic/7.jpg", data-size='663x833')
        img(src="/images/graphic/7.jpg")
      figcaption «Lights» with Svetlana Smirnova photographer.







