include ../mixins/a

.header
  p
    a(href="/") Дарья Колесникова
  .caption
    p графика  cg  микс-медиа  

  //- .icon-links
    a(href="/about")
      p about


.menu
  //- +a(href="/") all
  //- +a(href="/graphic") graphic
  //- +a(href="/sketch") doodle
  //- +a(href="/collage") mix-media
  //- +a(href="/paint") traditional
  +a(href="/about") био