.section.project-gallery
  .gallery.big
    figure
      a.preview(href="/projects/bias", data-size='1798x2242')
        img(src="/images/graphic2/bias/1-2.gif")
    figure
      a.preview(href="/projects/bee", data-size='1392x1727')
        img.round(src="/images/traditional/bee.jpg")  
    figure
      a.preview(href="/projects/sch", data-size='1790x2245')
        img(src="/images/mix-media/ear.jpg")
      figcaption
    figure
      a.preview(href="/projects/curse", data-size='1752x2435')
        img(src="/images/traditional/curse-2.jpg")
      figcaption
    figure
      a.preview(href="/projects/berlin", data-size='1800x2245')
        img(src="/images/painting/boy-4.jpg")