.section.project-gallery
  .phsw.gallery.wide
    //- figure
      a.preview(href="/images/painting/horse.jpg", data-size='1510x2048')
        img(src="/images/painting/horse.jpg")
      figcaption
    figure
      a.preview(href="/images/graphic/hugs.jpg", data-size='1800x2177')
        img(src="/images/graphic/hugs.jpg")
      figcaption «The date» illustration series. 2020
    figure
      a.preview(href="/images/painting/bee.jpg", data-size='2000x2479')
        img(src="/images/painting/bee.jpg")
      figcaption «Calm bee» Acrylic. 40x50. 2020
    figure
      a.preview(href="/images/graphic/mans-1.jpg", data-size='1800x2106')
        img(src="/images/graphic/mans-1.jpg")
      figcaption «The date» illustration series. 2020

    figure
      a.preview(href="/images/painting/boy-3.jpg", data-size='1800x2478')
        img(src="/images/painting/boy-3.jpg")
      figcaption Acrylic. A3. 2018
    figure
      a.preview(href="/images/graphic/bird.jpg", data-size='1740x2212')
        img(src="/images/graphic/bird.jpg")
      figcaption «The curse» illustration series.. Drypoint, A4. 2020
    figure
      a.preview(href="/images/painting/man-light.jpg", data-size='1800x2434')
        img(src="/images/painting/man-light.jpg")
      figcaption Acrylic. A4. 2020

    figure
      a.preview(href="/images/graphic/curse.jpg", data-size='1716x2296')
        img(src="/images/graphic/curse.jpg")
      figcaption «The curse» illustration series. Drypoint, A4. 2020
    figure
      a.preview(href="/images/sketch/aqua.jpg", data-size='1494x1851')
        img(src="/images/sketch/aqua.jpg")
      figcaption Aqua
    figure
      a.preview(href="/images/graphic/girl.jpg", data-size='1800x2205')
        img(src="/images/graphic/girl.jpg")
      figcaption «Raven» Acrylic. 2019

    figure
      a.preview(href="/images/graphic/anastassia.jpg", data-size='1800x2104')
        img(src="/images/graphic/anastassia.jpg")
      figcaption Acrylic. 2019
    //- figure
      a.preview(href="/images/graphic/boggart.jpg", data-size='2000x2650')
        img(src="/images/graphic/boggart.jpg")
      figcaption «Boggart» illustration series. Mix-media. 2021
    figure
      a.preview(href="/images/graphic/sign.jpg", data-size='1748x2409')
        img(src="/images/graphic/sign.jpg")
      figcaption Acrylic. 2019
    figure
      a.preview(href="/images/graphic/foot.jpg", data-size='1975x2670')
        img(src="/images/graphic/foot.jpg")
      figcaption Acrylic. 2019

    figure
      a.preview(href="/images/graphic/black.jpg", data-size='1800x1654')
        img(src="/images/graphic/black.jpg")
      figcaption Acrylic. 2019
    figure
      a.preview(href="/images/collage/horses-2.jpg", data-size='1800x2347')
        img(src="/images/collage/horses-2.jpg")
      figcaption Collage Experiments with oil, ink and paper
    figure
      a.preview(href="/images/graphic/horse-2.jpg", data-size='2000x2880')
        img(src="/images/graphic/horse-2.jpg")
      figcaption Acrylic. 2019


    figure
      a.preview(href="/images/graphic/girl2.jpg", data-size='1800x2531')
        img(src="/images/graphic/girl2.jpg")
      figcaption Letterpress. 2020
    figure
      a.preview(href="/images/painting/roar.jpg", data-size='1526x2000')
        img(src="/images/painting/roar.jpg")
      figcaption Acrylic. A5. 2019
    figure
      a.preview(href="/images/painting/boy.jpg", data-size='1800x2303')
        img(src="/images/painting/boy.jpg")
      figcaption Acrylic. A4. 2020

    figure
      a.preview(href="/images/painting/blur.jpg", data-size='1322x1753')
        img(src="/images/painting/blur.jpg")
      figcaption Acrylic. A5. 2020
    figure
      a.preview(href="/images/painting/sit.jpg", data-size='1800x1872')
        img(src="/images/painting/sit.jpg")
      figcaption Acrylic. A4. 2020
    //- figure
      a.preview(href="/images/painting/horse.jpg", data-size='1322x1753')
        img(src="/images/painting/horse.jpg")
      figcaption Archive. Oil. 60x80. 2016
    //- figure
      a.preview(href="/images/painting/light.jpg", data-size='1653x2200')
        img(src="/images/painting/light.jpg")
      figcaption Acrylic. A4. 2020
    //- figure
      a.preview(href="/images/painting/shoulder.jpg", data-size='1566x2198')
        img(src="/images/painting/shoulder.jpg")
      figcaption «Origin» Acrylic. A3. 2018
