.section.project-gallery
  .phsw.gallery.compact
    //- figure
      a.preview(href="/images/sketch/anton-5.jpg", data-size='1300x1313')
        img(src="/images/sketch/anton-5.jpg")
      figcaption
    //- figure
      a.preview(href="/images/sketch/eagle.jpg", data-size='1153x1196')
        img(src="/images/sketch/eagle.jpg")
      figcaption
    //- figure
      a.preview(href="/images/sketch/anton-4.jpg", data-size='1200x1364')
        img(src="/images/sketch/anton-4.jpg")
      figcaption
    
    figure
      a.preview(href="/images/sketch/zine/back.jpg", data-size='1000x1348')
        img(src="/images/sketch/zine/back.jpg")
      figcaption Experimental zine #1
    figure
      a.preview(href="/images/sketch/letter.jpg", data-size='1000x1348')
        img(src="/images/sketch/letter.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/black.jpg", data-size='1600x932')
        img(src="/images/sketch/black.jpg")
      figcaption «Boggart» sketch for illustration series
      
    figure
      a.preview(href="/images/sketch/back.jpg", data-size='1700x1854')
        img(src="/images/sketch/back.jpg")
      figcaption 
    figure
      a.preview(href="/images/sketch/ch-2.jpg", data-size='960x1280')
        img(src="/images/sketch/ch-2.jpg")
      figcaption
    
    figure
      a.preview(href="/images/sketch/ch-1.jpg", data-size='960x1280')
        img(src="/images/sketch/ch-1.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/ch-3.jpg", data-size='960x1280')
        img(src="/images/sketch/ch-3.jpg")
      figcaption

    figure
      a.preview(href="/images/sketch/fish.jpg", data-size='1800x1189')
        img(src="/images/sketch/fish.jpg")
      figcaption «Fish» from illustration series «blue»
    figure
      a.preview(href="/images/sketch/blue-6.jpg", data-size='1080x1430')
        img(src="/images/sketch/blue-6.jpg")
      figcaption «blue» illustration series
    figure
      a.preview(href="/images/sketch/blue-2-o.jpg", data-size='1304x1744')
        img(src="/images/sketch/blue-2-o.jpg")
      figcaption «blue» illustration series
    figure
      a.preview(href="/images/sketch/scan.jpg", data-size='1212x1493')
        img(src="/images/sketch/scan.jpg")
      figcaption «blue» illustration series
    figure
      a.preview(href="/images/sketch/blue-1.jpg", data-size='2000x1343')
        img(src="/images/sketch/blue-1.jpg")
      figcaption «blue» illustration series
        //- figure
    figure
      a.preview(href="/images/sketch/horns.jpg", data-size='1774x1841')
        img(src="/images/sketch/horns.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/ears4.jpg", data-size='988x1402')
        img(src="/images/sketch/ears4.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/collage-2.jpg", data-size='2761x3368')
        img(src="/images/sketch/collage-2.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/lion2.jpg", data-size='1978x1425')
        img(src="/images/sketch/lion2.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/house.jpg", data-size='1719x1635')
        img(src="/images/sketch/house.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/boy.jpg", data-size='683x890')
        img(src="/images/sketch/boy.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/tree-3.jpg", data-size='1100x1410')
        img(src="/images/sketch/tree-3.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/tree-2.jpg", data-size='942x1303')
        img(src="/images/sketch/tree-2.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/girls.jpg", data-size='1148x738')
        img(src="/images/sketch/girls.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/still.jpg", data-size='1022x1107')
        img(src="/images/sketch/still.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/cart.jpg", data-size='1087x909')
        img(src="/images/sketch/cart.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/bridge.jpg", data-size='1584x1095')
        img(src="/images/sketch/bridge.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/cup.jpg", data-size='965x630')
        img(src="/images/sketch/cup.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/plant.jpg", data-size='765x901')
        img(src="/images/sketch/plant.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/plain.jpg", data-size='1249x868')
        img(src="/images/sketch/plain.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/tree-1.jpg", data-size='1161x1306')
        img(src="/images/sketch/tree-1.jpg")
      figcaption
    figure
      a.preview(href="/images/sketch/horn.jpg", data-size='2012x2001')
        img(src="/images/sketch/horn.jpg")
      figcaption
    
    
    
    

  
  
  
  
  //- .phsw.gallery.compact  
    figure
      a.preview(href="/images/sketch/sliva.jpg", data-size='960x1280')
        img(src="/images/sketch/sliva.jpg")
      figcaption
  

