.content
  .main-blocks

    .main-block.double
      img(src="images/video/eye.gif")
      .caption Blink

    .main-block.double
      video(id="video_background" preload="auto" controls playsinline muted poster="images/video/Doors-cover.png")
        source(src="images/video/Doors.mp4" type='video/mp4')
      .caption My first experience as artist for cartoon, with my friend Nelly Kamaeva. <br>This is our experiment: is it possible to make a cartoon working just 1h/week during a year. Animation in AfterEffects by Nelly.


    .main-block.double
      img(src="images/video/run-1.gif")
      .caption I rode in the back seat of a taxi, looking out at the street, and this feeling of scharpen and smooth movement was a reason of this short movie.

    .main-block.double
      video(id="video_background" preload="auto" controls playsinline muted poster="images/video/Anna-cover.png")
        source(src="images/video/Anna.mp4" type='video/mp4')
      .caption Awesome actress Anna Goroch.

    .main-block.double
      video(id="video_background" preload="auto" controls playsinline muted poster="images/video/cover.jpg")
        source(src="images/video/unfinished.mp4" type='video/mp4')
      .caption Just my video-notes experiements in the city which never sleep.

    .main-block.double
      video(id="video_background" preload="auto" controls playsinline muted poster="images/video/loving-cover.png")
        source(src="images/video/loving.mp4" type='video/mp4')
      .caption First experiments in Animate.

    .main-block.double
      video(id="video_background" preload="auto" controls playsinline muted poster="images/video/parkour-cover.png")
        source(src="images/video/park.mp4" type='video/mp4')
      .caption First experiments in Animate.
