extends /layouts/main.pug

block content

  .section
    .description
      //- .title Bee

  .section
    .picture-wrap
      .big-picture
        img(src="/images/traditional/bee.jpg")
  
  .section
    .description    
      p Acrylic / 35x50 / 2020

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  include /partials/index-content.pug
