extends /layouts/main.pug

block content
  .section
    .description
      .title Berlin

  .section.project-gallery
    .phsw.gallery.giant

      figure
        a.preview(href="/images/painting/man-light3.jpg", data-size='564x705')
          img(src="/images/painting/man-light3.jpg")
        figcaption
      figure
        a.preview(href="/images/painting/boy-4.jpg", data-size='1800x2478')
          img(src="/images/painting/boy-4.jpg")
        figcaption
      figure
        a.preview(href="/images/painting/roar2.jpg", data-size='1366x1874')
          img(src="/images/painting/roar2.jpg")
        figcaption
      figure
        a.preview(href="/images/painting/part-4.jpg", data-size='1476x2010')
          img(src="/images/painting/part-4.jpg")
        figcaption
      //- figure
        a.preview(href="/images/painting/blur.jpg", data-size='1800x2478')
          img(src="/images/painting/blur.jpg")
        figcaption
      figure
        a.preview(href="/images/traditional/lady.jpg", data-size='564x705')
          img(src="/images/traditional/lady.jpg")
        figcaption
      //- figure
        a.preview(href="/images/traditional/part-3.jpg", data-size='1286x1798')
          img(src="/images/traditional/part-3.jpg")
        figcaption
  .section
    .description
      p 2018-2021      

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  include /partials/index-content.pug

