extends /layouts/main.pug

block content

  .section
    .description
      .title Bias
      p
      a(href="https://bias.slaylines.io/" target="_blank") bias.slaylines.io
      p   
      a(href="https://intuition.team/park/bias" target="_blank") Intuition Park 2020

  .section.project-gallery
    .phsw.gallery.giant
      figure
        a.preview(href="/images/graphic2/bias/blck.gif", data-size='1800x2245')
          img(src="/images/graphic2/bias/blck.gif")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/10.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/10.jpg")
        figcaption

      figure
        a.preview(href="/images/graphic2/bias/1.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/1.jpg")
        figcaption

      figure
        a.preview(href="/images/graphic2/bias/4.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/4.jpg")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/main.png", data-size='1800x2245')
          img(src="/images/graphic2/bias/main.png")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/5.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/5.jpg")
        figcaption

      figure
        a.preview(href="/images/graphic2/bias/7.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/7.jpg")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/3.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/3.jpg")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/2.gif", data-size='1800x2245')
          img(src="/images/graphic2/bias/2.gif")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/9.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/9.jpg")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/1.gif", data-size='1800x2245')
          img(src="/images/graphic2/bias/1.gif")
        figcaption
      figure
        a.preview(href="/images/graphic2/bias/8.jpg", data-size='1800x2245')
          img(src="/images/graphic2/bias/8.jpg")
        figcaption
      
  <br>
  <br>
  <br>
  .section
    .description
      p Made in Intuition Park / 2020


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  include /partials/index-content.pug

