extends /layouts/main.pug

block content
  .section
    .description
      .title The curse
      p Drypoint / 2020    
  .section.project-gallery
    .phsw.gallery.giant

      figure
        a.preview(href="/images/traditional/curse.jpg", data-size='1752x2435')
          img(src="/images/traditional/curse.jpg")
        
      figure
        a.preview(href="/images/traditional/bird.jpg", data-size='1740x2175')
          img(src="/images/traditional/bird.jpg")
  //- .section
    .description
      p Drypoint / 2020      
      //- figure
        a.preview(href="/images/traditional/man.jpg", data-size='1596x2174')
          img(src="/images/traditional/man.jpg")
        figcaption



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  include /partials/index-content.pug
