extends /layouts/main.pug

block content
  .section
    .description
      //- .title Sch
      p With Photographer Nikita Bezmaternych
      p 2018-2020
  .section.project-gallery
    .phsw.gallery.giant

      figure
        a.preview(href="/images/mix-media/ear.jpg", data-size='1800x2245')
          img(src="/images/mix-media/ear.jpg")
        figcaption
      figure
        a.preview(href="/images/graphic2/zine.jpg", data-size='1800x2245')
          img(src="/images/graphic2/zine.jpg")
        figcaption
      figure
        a.preview(href="/images/graphic2/zine-3.jpg", data-size='1800x2245')
          img(src="/images/graphic2/zine-3.jpg")
        figcaption
      
  .section
    .description
      

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  include /partials/index-content.pug

