extends /layouts/main.pug

block content
  .section
    .description
      .title  Two hours

  .section.project-gallery
    .phsw.gallery.big

      figure
        a.preview(href="/images/traditional/hugs.jpg", data-size='1800x2177')
          img(src="/images/traditional/hugs.jpg")
        figcaption
      figure
        a.preview(href="/images/traditional/mans.jpg", data-size='1800x2106')
          img(src="/images/traditional/mans.jpg")
        figcaption

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  include /partials/index-content.pug

