@import 'node_modules/normalize.css/normalize';

* {
  color: black;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  padding: 0px 1.7em;

  @media all and (max-device-width: $mobile) {
    padding: 15px 24px 40px 23px;
  }
}

main {
  position: relative;
}

.phsw {
  figcaption {
    display: none;
  }
}

.pswp-white {
  .pswp__bg {
    background-color: white;
  }

  .pswp__top-bar {
    filter: invert(100%);
  }

  .pswp__button {
    &::before {
      border-radius: 50%;
      background-color: black;
      filter: invert(90%);
    }
  }

  .pswp__caption {
    background-color: transparent;
    .pswp__caption__center {
      color: black;
    }
  }
}
