$fonts-path: '/fonts';
$images-path: '/images';

$main-font: 'Montserrat', Helvetica, Arial, sans-serif;

$text-colour: rgba(20, 20, 20, 1);
$text-underline-colour: rgba(20, 20, 20, 0.3);

$link-colour: rgba(20, 20, 20, 1);
$link-underline-colour: rgba(20, 20, 20, 1);

$link-hover-colour: rgb(161, 161, 161);
$link-hover-underline-colour: rgba(0, 220, 80, 0.1);

// $base-font-size: 20px;
// $base-line-height: 26px;

$mobile: 768px;
$mobile-width: 480px;
