.header {
  padding-bottom: 10em;
  p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media all and (max-device-width: $mobile) {
      font-size: 0.8em;
    }
  }

  .caption {
    p {
      font-size: 12px;
      text-transform: none;
      letter-spacing: 0.5px;
      margin-top: -15px;

      @media all and (max-device-width: $mobile) {
        font-size: 0.8em;
        margin-top: 0.3em;
      }
    }
  }
  header h1 {
    font-size: 70px;
  }
  .icon-links {
    position: absolute;
    display: flex;
    top: 2em;
    right: 2em;
    cursor: pointer;

    p {
      font-size: 18px;
    }

    @media all and (max-device-width: $mobile-width) {
      top: 1.7em;
      right: 1.2em;
      // display: block;
    }

    .icon-link {
      a,
      span {
        display: block;
        width: 20px;
        height: 20px;

        background-size: 20px 20px;
        border-bottom: none;

        @media all and (max-device-width: $mobile-width) {
          margin-bottom: 1.2em;
          width: 1em;
          height: 1em;

          background-size: 1em 1em;
        }
      }

      &.inst-link {
        a,
        span {
          background-image: url('/images/inst.png');
          margin-right: 1.2em;
        }
      }

      &.fb-link {
        a,
        span {
          background-image: url('/images/fb.png');
          margin-right: 1.2em;
        }
      }

      &.you-link {
        a,
        span {
          background-image: url('/images/you.png');
          margin-right: 1.2em;
        }
      }
      &.tg-link {
        a,
        span {
          background-image: url('/images/tg.png');
          // margin-right: 1em;
        }
      }
    }
  }

  
  a {
    text-decoration: none;
    color: #000000;
  }
}

.menu {
  font-size: 14px;
  position: absolute;
  display: flex;
  top: 1.4em;
  right: 0;
  z-index: 1000;

  @media all and (max-device-width: $mobile) {
    padding-top: 3em;
    display: block;
    font-size: 1em;
    line-height: 1.7em;
  }

  span {
    padding-right: 40px;
  }

  a {
    color: black;
    text-decoration: none;
    display: inline;
    padding-right: 40px;
    // padding-right: 70px;

    @media all and (max-device-width: $mobile) {
      display: inline-block;
    }
  }
}

.about {
  display: flex;
  width: 82%;

  .description {
    text-align: left;
    position: relative;
    display: inline-block;
    left: 20px;
  }

  .picture-about {
    img {
      width: 40%;
      display: flex;
    }
  }
}

.picture-wrap {
  position: relative;
  display: block;
  width: 60em;
  height: auto;
  margin: 0 auto;
  padding-top: 3em;

  &.horisontal {
    width: 100em;
  }

  .big-picture {
    img {
      width: 100%;
    }
  }
}

.description {
  text-align: center;
  position: relative;
  width: 99%;
  color: black;
  
  h1 {
  text-align: left;
  font-size: 24pt;
  line-height: 30pt;
  font-weight: normal;
  position: relative;
  }
  

  .title {
    font-size: 4em;
  }

  a {
    color: black;
  }

  p {
    font-size: 0.9em;
    line-height: 1.4em;
    position: relative;
    color: black;
  }
}

.project-gallery {
  position: relative;
  width: 100%;
  max-width: 2000px;
  // padding-top: 10em;
  margin-left: 5em;

  @media all and (max-device-width: $mobile) {
    width: 100%;
  }

  .wide {
    width: 100%;

    @media all and (max-device-width: $mobile) {
      width: 100%;
    }
  }
}

.gallery {
  position: relative;

  figure {
    display: inline-block;
    vertical-align: top;
    margin: 4em 0 0 0;
    width: 300px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;

    @media all and (max-device-width: $mobile) {
      width: 450px;
      height: auto;
    }

    &.tall {
      height: 250px;
    }

    a {
      border: none;
      img {
        &.round {
          border-radius: 50%;
        }
        width: 70%;

        @media all and (max-device-width: $mobile) {
          width: 100%;
        }
      }

      &:hover {
        opacity: 0.9;
      }
    }

    figcaption {
      font-size: 10px;
      margin-top: 20px;
      right: 0px;

      @media all and (max-device-width: $mobile) {
        font-size: 24px;
      }
    }
  }

  &.compact {
    padding-top: 0em;
    width: 90%;
    margin-left: 1em;
    figure {
      margin: 2em 0 0 0;
      // margin-right: -30px;
      width: 130px;
      height: auto;

      @media all and (max-device-width: $mobile) {
        width: 48%;
        height: auto;
        margin-right: 0px;
        padding-right: 0px;
      }
    }
    a {
      border: none;
      img {
        width: 100%;

        @media all and (max-device-width: $mobile) {
          width: 100%;
        }
      }
    }
  }

  &.big {
    figure {
      width: 30%;
      height: auto;
      padding-right: 1em;
      position: relative;
      overflow: hidden;

      @media all and (max-device-width: $mobile) {
        width: 48%;
        height: 10em;
      }

      a {
        border: none;

        img {
          width: 100%;
          @media all and (max-device-width: $mobile) {
            width: 100%;
          }
        }

        &:hover {
          opacity: 0.9;
        }

        &:hover .overlay {
          opacity: 1;
          transform: scale(1);
        }

        .overlay {
          position: absolute;
          width: 88.5%;
          height: 100%;
          // background-color: rgba(0, 0, 0, 0.363);
          top: 0;
          opacity: 0;

          @media all and (max-device-width: $mobile) {
            opacity: 1;
            width: 100%;
          }

          .title p {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: #fff;

            @media all and (max-device-width: $mobile) {
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  &.giant {
    figure {
      width: 40%;
      height: auto;
      padding-right: 1em;
      position: relative;
      overflow: hidden;

      @media all and (max-device-width: $mobile) {
        width: 48%;
        height: 10em;
      }

      a {
        border: none;

        img {
          width: 100%;
          @media all and (max-device-width: $mobile) {
            width: 100%;
          }
        }

        &:hover {
          opacity: 0.9;
        }

        &:hover .overlay {
          opacity: 1;
          transform: scale(1);
        }

        .overlay {
          position: absolute;
          width: 88.5%;
          height: 100%;
          // background-color: rgba(0, 0, 0, 0.363);
          top: 0;
          opacity: 0;

          @media all and (max-device-width: $mobile) {
            opacity: 1;
            width: 100%;
          }
          
          .title p {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: #fff;

            @media all and (max-device-width: $mobile) {
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  &.cg {
    figure {
      width: 550px;
      height: 250px;
      padding-right: 0px;

      @media all and (max-device-width: $mobile) {
        width: 100%;
        height: auto;
      }

      a {
        border: none;
        img {
          width: 80%;
          @media all and (max-device-width: $mobile) {
            width: 100%;
          }
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  &.wide {
    figure {
      width: 24%;
      height: auto;
      padding-right: 0.9em;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        @media all and (max-device-width: $mobile) {
          width: 100%;
        }
      }

      @media all and (max-device-width: $mobile) {
        width: 100%;
        height: auto;
      }
    }
  }
}

video {
  display: block;
  width: 120%;
}

///MAIN BLOCKS///

#content {
  margin-left: 2em;
  margin-bottom: 14em;
}

main {
  position: relative;
  padding-bottom: 200px;
}

.content-wrapper {
  position: relative;
  margin-top: 8em;
}

.main-blocks {
  position: relative;
  margin-top: 50px;
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 50px;
  font-size: 0;

  p {
    font-size: 13px;
  }

  .main-block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 22%;

    margin-right: 3%;
    padding: 18px 18px 18px 18px;
    margin-bottom: 40px;
    border-radius: 8px;

    a {
      padding-top: 0.31em;
      text-decoration: none;

      &:hover {
        font-style: italic;
      }
    }

    video {
      width: 100%;
      overflow: hidden;
    }

    @media all and (max-device-width: $mobile) {
      width: 100%;
      padding-bottom: 1em;
      padding: 0%;
      margin-right: 0%;
    }

    .caption {
      padding-top: 3em;
      font-size: 12px;
      text-transform: none;
      letter-spacing: 0.5px;
      margin-top: -15px;

      @media all and (max-device-width: $mobile) {
        font-size: 0.8em;
        padding-top: 1em;
      }
    }

    &.double {
      width: 47%;

      @media all and (max-device-width: $mobile) {
        width: 100%;
        padding-bottom: 1em;
        padding: 0%;
        margin-right: 0%;
      }
    }

    &.wide {
      width: 73%;
      @media all and (max-device-width: $mobile) {
        width: 100%;
      }
    }

    font-size: 20px;
    line-height: 24px;

    &.high {
      img {
        height: 14em;
        width: auto;
        overflow: hidden;
      }
    }

    &.no-border {
      border-top: none;
    }

    img {
      display: block;
      width: 100%;
    }

    &.overhang {
      img {
        margin: -10% -5%;
        width: 110%;
        padding-bottom: 1em;
      }
    }

    &.jump-up {
      margin-top: -70px;
    }
  }
}
